extends baseEmail

block content
  p Hi #{ firstName },
  br
  p A password reset for your account was requested
  p Reset your password by clicking on below

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Change Your Password

  p Or Copy and paste the following link to your browser
  p
    a= `${url}`

  p Note that this link is valid for 10 minutes.
  p After the time limit has expired, you will have to resubmit the request for a password reset.

  p If you need any help with booking your next tour, please don't hesitate to contact me!
  p - Saurabh Panchal, CEO
